/* Main Page */

body {
    background-color:  #ebdce5;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Navigation Bar */

.title > img{
    width: 100%;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ebc3db !important;
    z-index: 1000;
}


.navbar-nav {
    width: 100%;
    justify-content: center;
}

.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black !important;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* About Me */

.about-me{
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.about-me .row img {
    height: auto;
    width: 100%;
}

.about-me .row p{
    padding-bottom: 10px;
}

.skills-section{
    padding-top: 75px;
}

/* Projects Cards */

.projects {
    padding: 75px 50px;
}

.projects .row{
    justify-content: space-around;
}

.cardContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.card:hover{
    box-shadow: 10px 10px 2px rebeccapurple;
}

.card-img-top {
    height: 150px;
}

h5{
    font-weight: bold;
    text-decoration: underline;
}

#projects .btn{
    background-color: rgb(255, 5, 67) !important;
    border: rgb(255, 5, 67);
}

/* Contact Section */

#contact-me{
    background-color: #9f84bd;
    font-family: 'Courier New', Courier, monospace;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-container > button{
    background-color: #EDE3E9;
    border: solid rebeccapurple 2px;
    ;
}

#contact-container > button > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#first-button:hover{
    box-shadow: #440e82 -10px 10px;
}


#second-button:hover{
    box-shadow: #440e82 0px 10px;
}


#third-button:hover{
    box-shadow: #440e82 10px 10px;
}

#first-button > a:hover{
    color: #440e82;
    background-color: black;
}

#second-button > a:hover{
    color: white;
    background-color: black;
}

#third-button > a:hover{
    color: rgb(64, 107, 237);
    background-color: black;
}

