/* About Me */

.about-me .row img {
    height: auto;
    width: 100%;
}

/* Projects Cards */

.projects .row{
    justify-content: space-around;
}

.cardContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.card:hover{
    box-shadow: 10px 10px 2px rebeccapurple;
}

.card-img-top {
    height: 250px;
}